/* get  */

.get {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  
    .get__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 100px 0;
  
      .get__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Lato';
        margin-right: 50px;
  
        &:last-child {
          margin-right: 0px;
        }
  
        .get__img {
          margin: 0 auto;
          width: 107px;
          height: 107px;
          border: 2px solid #000;
          border-radius: 50%;
          padding: 24px;
          text-align: center;
          margin-bottom: 20px;
  
          img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
  
        h2 {
          color: #000;
          font-size: 18px;
          font-weight: 700;
          line-height: 30px;
          text-transform: uppercase;
          letter-spacing: 0.9px;
          text-align: center;
          padding-bottom: 30px;
        }
  
        p {
          font-family: 'Lato';
          color: #000000;
          font-size: 16px;
          font-weight: 300;
          line-height: 18px;
          letter-spacing: 0.8px;
          text-align: center;
        }
      }
    }
  }

  @media only screen and (min-width : 320px) and (max-width : 480px){

    .get {
      width: 100%;
      min-width: 320px;
      max-width: 480px;
      margin: 0 auto;
    
      .get__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 50px 0;
    
        .get__item {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          margin-right: 0px;
          margin-bottom: 10px;

          &:last-child {
            margin-right: 0px;
            margin-bottom: 0px;
          }
    
          .get__img {
            margin: 0 auto;
            width: 100%;
            max-width: 50px;
            height: 50px;
            padding: 5px;
            margin-bottom: 10px;
            margin-right: 10px;
          }
          img{
            width: 50%;
            height: auto;
          }
    
          h2 {
            font-size: 12px;
            padding-bottom: 10px;
          }
    
          p {
            font-size: 11px;
            text-align: center;
          }
        }
      }
    }
    
  }

  @media only screen and (min-width : 768px) and (max-width : 1024px){

    .get {
      min-width : 768px;
      max-width : 1024px;
    
      .get__inner {
        padding: 50px 0;
    
        .get__item {
          margin-right: 20px;
    
          .get__img {
            margin: 0 auto;
            width: 70px;
            height: 70px;
            padding: 18px;
            margin-bottom: 20px;
          }
    
          h2 {
            font-size: 14px;
            padding-bottom: 20px;
          }
    
          p {
            font-size: 12px;
          }
        }
      }
    }

  }