.container{
    width: 100%;
    max-width: 1245px;
    margin: 0 auto;
}

@import "header";
@import "get";
@import "introduct";
@import "rewiew";
@import "browse";
@import "footer";

// @media only screen and (min-width : 320px) and (max-width : 480px)
// @media only screen and (min-width : 768px) and (max-width : 1024px)